* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: auto;
}

body {
    height: auto;
}

.heas {
    min-height: 5rem;
    height: 15rem;
    background-color: #13547a;
    box-shadow: 0.1rem 0.5rem 1rem black;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "g-logo . g-nav";
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: all .7s ease;
}

.stickyeff {
    height: 5rem;
}

.logo {
    grid-area: g-logo;
    transition: all 1s ease;
    opacity: 1;
}

.logo-rj {
    width: 23rem;
    padding-left: 5rem;
    padding-top: 0rem;
    transition: all 1s ease;
    opacity: 1;
}

.logoeff {
    height: 0rem;
    opacity: 0;
    transform: translateY(-10rem);
}

.navlinks {
    margin-top: auto;
    margin-bottom: auto;
    grid-area: g-nav;
}

.navlinks ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navlinks ul li {
    text-align: center;
    text-transform: uppercase;
}

.nav-anchor {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}

.home {
    width: 100%;
    min-height: 70rem;
    height: auto;
    color: rgb(60, 2, 102);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'g-mama g-message';
    position: relative;
    top: 15rem;
}

.mama-img {
    font-size: 2.1rem;
}

@keyframes mamas {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scaleX(1);
    }
}

.mama {
    display: block;
    border-radius: 50%;
    width: 50rem;
    margin-top: 10rem;
    margin-left: 5rem;
    box-shadow: 1rem 1rem 4rem black;
    animation-name: mamas;
    animation-duration: 2s;
    transition: all .5s ease-in-out;
    grid-area: g-mama;
}

.message {
    grid-area: g-message;
    transition: all 1s ease;
    animation-name: mamas;
    animation-duration: 2s;
}

.message h1 {
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'Lemonada', cursive;
}

.rj {
    font-size: 3rem;
    color: white;
    letter-spacing: .8rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(-1rem);
}

.rjeff {
    font-size: 3rem;
    color: white;
    letter-spacing: .8rem;
    padding: 1rem;
    transform: translateY(0);
    transition: all .7s ease-in;
    opacity: 1;
    grid-area: g-logo;
}

.message p {
    display: block;
    font-size: 3rem;
    padding-left: 2rem;
    font-family: 'Shadows Into Light', cursive;
}

.about {
    width: auto;
    display: flex;
    flex-direction: column;
    min-height: 80rem;
    text-align: center;
    position: relative;
    top: 15rem;
    overflow-x: hidden;
}

.par {
    font-size: 2.1rem;
    margin: auto;
    transform: translateX(-1000px);
    grid-area: g-para;
}

.contact {
    position: relative;
    width: 100%;
    display: grid;
    min-height: 40rem;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    top: 15rem;
}

#map {
    height: 100%;
}

footer {
    position: relative;
    height: 2.5rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0px;
    background-color: #13547a;
    box-shadow: 0 -.5rem 1rem black;
    color: White;
    top: 15rem;
}

.justimg {
    display: block;
    margin: auto;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    transform: scaleY(0) translateX(100px);
    transition: all 1s ease;
    box-shadow: .2rem .5rem 2rem grey;
    border-radius: 1rem;
    grid-area: g-img;
}

.address {
    font-size: 3rem;
    padding-top: 5rem;
    justify-content: left;
}

.scrolleff {
    transform: scaleY(1) translateX(0);
    transition: all 1s ease-in-out;
}

.cardholder {
    display: flex;
    width: auto;
    height: 70rem;
    margin: auto;
    transition: all .5s ease-in-out;
    overflow-x: hidden;
}

.next, .pervious {
    position: absolute;
    width: 5rem;
    height: 5rem;
    opacity: .6;
    border: none;
    z-index: 4;
}

.next {
    right: 1rem;
    top: 40rem
}

.pervious {
    left: 0rem;
    top: 40rem
}

.btn img {
    width: 5rem;
    height: 5rem;
    border: none;
}

.card {
    width: 30rem;
    height: 50rem;
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
    grid-template-rows: 2fr 1fr;
    border-radius: 1rem;
    box-shadow: 0 1rem 1.5rem gray;
}

.cardimg {
    width: 25rem;
    height: 20rem;
    margin: auto;
    box-shadow: #13547a 0 0rem 1.5rem;
    border-radius: .5rem;
}

.cardimg img {
    width: 25rem;
    height: 20rem;
    border-radius: .5rem;
}

.cardcontent {
    font-size: 1rem;
    text-align: center;
}

.posline {
    position: fixed;
    top: 15rem;
    background: linear-gradient(to right, #f83239, #f5160e);
    height: .21rem;
    z-index: 4;
}

.poseff {
    top: 5rem;
}

@media screen and (max-width:600px) {
    .heas {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: 'g-logo g-burger';
        height: 25rem;
        background-color: #13547a;
        position: fixed;
        z-index: 3;
        transition: all .7s ease;
    }
    .posline {
        position: fixed;
        top: 25rem;
        background: linear-gradient(to right, #f83239, #f5160e);
        height: .21rem;
        z-index: 3;
    }
    .poseff {
        top: 6rem;
    }
    .stickyeff {
        height: 6rem;
    }
    .rjeff {
        font-size: 2rem;
        color: white;
        letter-spacing: .8rem;
        padding: 2rem;
        transform: translateY(0);
        transition: all .7s ease-in;
        opacity: 1;
        grid-area: g-logo;
    }
    .home {
        position: relative;
        top: 25rem;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'g-mama' 'g-message';
    }
    .message {}
    .message h1 {
        font-size: 3rem;
        width: 25rem;
        margin: auto;
        text-align: center;
        padding-top: 0;
    }
    .mama {
        width: 27rem;
        margin: auto;
        margin-top: 2rem;
        z-index: -1;
    }
    .logo {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: .5rem;
        color: whitesmoke;
        font-size: 2.8rem;
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 8px;
        text-transform: uppercase;
        text-shadow: black 1px 1px;
        grid-area: g-logo;
    }
    .burger {
        grid-area: g-burger;
        margin-top: auto;
        margin-bottom: auto;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        z-index: 4;
    }
    .burger div {
        background-color: white;
        padding-top: .4rem;
        margin-top: .4rem;
        transition: .5s ease;
    }
    .navlinks {
        position: absolute;
        height: 90vh;
        width: 100%;
        background-color: #13547a;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
    }
    .navopen {
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
        z-index: 3;
    }
    .navlinks ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .navlinks li {
        top: 50px;
        padding: 80px 5px;
        opacity: 0;
    }
    .navlinks li:nth-child(1) {
        transition: all .4s ease .2s;
    }
    .navlinks li:nth-child(2) {
        transition: all .4s ease .4s;
    }
    .navlinks li:nth-child(3) {
        transition: all .4s ease .6s;
    }
    li.fade {
        opacity: 1;
    }
    .burgerfade {
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .1s ease;
    }
    .burgerfade1 {
        opacity: 0;
    }
    .burgerfade2 {
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .1s ease;
    }
    .about {
        position: relative;
        width: 100%;
        display: grid;
        top: 25rem;
        min-height: 10rem;
        text-align: center;
        grid-template-columns: unset;
        grid-template-rows: unset;
        overflow-x: auto;
    }
    .cardholder {
        overflow-x: auto;
    }
    .card {
        width: 35rem;
        height: 60rem;
    }
    .btn{
        display: none;
    }
    .contact {
        width: 100%;
        display: grid;
        min-height: 50rem;
        grid-template-columns: unset;
        grid-template-rows: 2fr 1fr;
        top: 25rem;
        position: relative;
    }
    footer {
        top: 25rem;
        position: relative;
    }
    .address {
        transform: translateY(-1.5rem);
        font-size: 2rem
    }
    .justimg {
        margin: auto;
    }
}