* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
}

header {
    min-height: 5rem;
    background-color: #13547a;
    box-shadow: 0.1rem 0.5rem 1rem black;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "g-logo none g-nav";
    position: relative;
}

.logo {
    padding-left: 3rem;
    color: whitesmoke;
    font-size: 2.0rem;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: black 1px 1px;
    grid-area: g-logo;
}

.navlinks {
    margin-top: auto;
    margin-bottom: auto;
    grid-area: g-nav;
}

.navlinks ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navlinks ul li {
    text-align: center;
    text-transform: uppercase;
}

.nav-anchor {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}

.home {
    width: 100%;
    min-height:70rem;
    height: auto;
    color: rgb(60, 2, 102);
}

.message {
    font-size: 2.1rem;
    padding-top: 20rem;
}

.message h1, p {
    text-align: center;
}

.about {
    width: 100%;
    display: grid;
    min-height: 70rem;
    background-color: cornsilk;
    text-align: center;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'g-para g-img';
}


.par{
    font-size: 2.1rem;
    margin: auto;
    transform: translateX(-1000px);
    grid-area: g-para;
}

footer {
    height: 2.5rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0px;
    background-color: #13547a;
    box-shadow: 0 -.5rem 1rem black;
    color: White;
}
.justimg{
    display: block;
  margin: auto;
  width: 60%;
  align-items: center;
  justify-content: space-around;
  transform: scaleY(0) translateX(100px);
  transition: all 1s ease; 
  box-shadow:.2rem .5rem 2rem grey;
  border-radius: 1rem;
  grid-area: g-img;
}

.scrolleff{
    transform: scaleY(1) translateX(0);
    transition:all 1s ease-in-out;
}


@media screen and (max-width:600px) {
    header {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: "g-logo g-burger ";
        min-height: 25rem;
        background-color: #13547a;
        position: relative;
    }
    .logo {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 3rem;
        color: whitesmoke;
        font-size: 2.8rem;
        font-family: 'Shadows Into Light', cursive;
        letter-spacing: 8px;
        text-transform: uppercase;
        text-shadow: black 1px 1px;
        grid-area: g-logo;
    }
    .burger {
        grid-area: g-burger;
        margin-top: auto;
        margin-bottom: auto;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        z-index: 2;
    }
    .burger div {
        background-color: white;
        padding-top: .4rem;
        margin-top: .4rem;
        transition: .5s ease;
    }
    .navlinks {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #13547a;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
    }
    .navopen {
        clip-path: circle(1500px at 90% -20%);
        -webkit-clip-path: circle(1500px at 90% -20%);
    }
    .navlinks ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .navlinks li {
        top: 50px;
        padding: 80px 5px;
        opacity: 0;
    }
    .navlinks li:nth-child(1) {
        transition: all .4s ease .2s;
    }
    .navlinks li:nth-child(2) {
        transition: all .4s ease .4s;
    }
    .navlinks li:nth-child(3) {
        transition: all .4s ease .6s;
    }
    li.fade {
        opacity: 1;
    }
    .burgerfade {
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .1s ease;
    }
    .burgerfade1 {
        opacity: 0;
    }
    .burgerfade2 {
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .1s ease;
    }

    .about {
        width: 100%;
        display: grid;
        min-height: 70rem;
        background-color: cornsilk;
        text-align: center;
        grid-template-columns: unset;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: 'g-img'
        'g-para';
    }

    .justimg{
        margin: auto;
    }
}